{% extends 'base.html' %}

{% block title %} Hlavná stránka {% endblock %}

{% block content %}
<nav>
	<a href="{{ url_for('main_page') }}">Poslať požiadavku</a>
	<a href="{{ url_for('user') }}">Používateľ</a>
	<a href="{{ url_for('login') }}">Odhlásiť sa</a>
</nav>
<hr>
<section>
	<form method="post">
		<fieldset>
			<legend>Poslanie požiadavky</legend>
			<p><label for="number">Číslo objednávky:</label> <br> 
			<input type="text" name="number" id="number" size="20" required></p>
		</fieldset>
		<p><input type="submit" name="potvrd" id="potvrd" value="POTVRDIŤ ČÍSLO"></p>
	</form>
</section>
{% endblock %}