{% extends 'base.html' %}

{% block title %} CEVA logistics {% endblock %}

{% block content %}

{% if error %}
<section id="notification">
    <h1 class="notifications">Site not found!</h1>
</section>
{% endif %}

{% if not error %}
<div id ='lang'>
	<form action="{{ url_for('communication.chat', chat_id=chat_id) }}" method="POST">
        <select id="languages" name="languages" onchange="this.form.submit()">
            <option value="SK" {% if selected_language == 'SK' %}selected{% endif %}>Slovak</option>
            <option value="EN" {% if selected_language == 'EN' %}selected{% endif %}>English</option>
        </select>
	</input>
	</div>
<section>
	<h2>{{details}} </h2>
	<p>{{number}}: {{req.order_code}}</p>
	<p>{{booking_ref}}: {{order.booking_reference}}</p>
	<p>{{supplier}}: {{order.carrier}}</p>
	<p>{{contact}}: {{req.carrier_email}}</p>
	<p>{{reg_number}}: {{order.truck_plates}}</p>
	<p>{{customer}}: {{order.client}}</p>
	<p>{{loading}}: {{order.loading_city}} {{order.loading_date}} {{order.loading_time}} </p>
	<p>{{unloading}}: {{order.delivery_city}} {{order.delivery_date}} {{order.delivery_time}}</p>
</section>

{% if not current_user.is_authenticated %}
<section id="main_section">
	<h2>{{status}}</h2>
	
	<section>
		<form method="post">
			<fieldset>
				<legend>{{on_time}}</legend>
				<p>{{confirm_loading}}<br>
				<input type="checkbox" name="loaded" id="loaded" value="loaded" {% if res.loaded %}checked{% endif %}><label for="loaded">{{loaded}}</label>
				<input type="submit" name="confirm_loading" id="confirm_loading" value="{{button_confirm_load}}"></p>
				<hr>
				<p>{{confirm_unloading}}<br>
				<input type="checkbox" name="unloaded" id="unloaded" value="unloaded" {% if res.unloaded %}checked{% endif %}><label for="unloaded">{{unloaded}}</label>
				<input type="submit" name="confirm_unloading" id="confirm_unloading" value="{{button_confirm_unload}}"></p>
				
			</fieldset>
			
		</form>
	</section>

	<section>
		<form  method="post">
			<fieldset>
				<legend>{{late}}</legend>
				<p><label for="cause_delay">{{cause_delay}}:</label>
				<select name="cause_delay" id="cause_delay" required onchange="handleSelectChange()"></p>
					<option value=''>{{cause_delay_options}}</option>
					<option value="weather">{{weather}}</option>
					<option value="broken_truck">{{broken_truck}}</option>
					<option value="accident">{{accident}}</option>
					<option value="delay_loading">{{delay_loading}}</option>
					<option value="delay_unloading">{{delay_unloading}}</option>
					<option value="driver_performance">{{driver_performance}}</option>
					<option value="traffic_situation">{{traffic_situation}}</option>
					<option value="other">{{other}}</option>
				</select>
				
				<p><label for="date">{{date}}:</label>
				<input type="date" name="date" id="date" size="20" required onchange="handleDateTimeChange()">
				<input type="time" name="time" id="time" size="20" required onchange="handleDateTimeChange()"></p>
				
				<p><label for="message">{{message}}:</label>
				<textarea name="message" id="message" rows="4" cols="20" required></textarea></p>
				
			</fieldset>
			<p><input type="submit" name="late_loading" id="late_loading" value="{{button_late_loading}}">
			<input type="submit" name="late_unloading" id="late_unloading" value="{{button_late_unloading}}"></p>
		</form>
	</section>

</section>
{% endif %}

<script>
var today = new Date();
var time = today.getHours() + ":" + (today.getMinutes() + 1);
var dd = today.getDate();
var mm = today.getMonth() + 1; 
var yyyy = today.getFullYear();

if (dd < 10) {
   dd = '0' + dd;
}

if (mm < 10) {
   mm = '0' + mm;
} 
	
today = yyyy + '-' + mm + '-' + dd;
document.getElementById("date").value = today;
document.getElementById("date").min = today;
document.getElementById("time").value = time;

function handleDateTimeChange() {
    var inputDate = document.getElementById("date").value;
    var inputTime = document.getElementById("time").value;

    var selectedDateTime = new Date(inputDate + " " + inputTime);
    var currentDateTime = new Date();

    if (selectedDateTime < currentDateTime) {
        alert("Nemožno zvoliť dátum a čas z minulosti. Zvoľte prosím budúci dátum a čas.");
		
        var currentTime = currentDateTime.getHours() + ":" + currentDateTime.getMinutes();
        document.getElementById("time").value = currentTime;
    }
}

function handleSelectChange() {
    var selectElement = document.getElementById("cause_delay");
	var textField = document.getElementById("message");

	if (selectElement.value === "other") {
		textField.setAttribute("required", "true");
	} else {
		textField.removeAttribute("required");
	}
}

</script>

{% endif %}
{% endblock %}
