{% extends 'base.html' %}

{% block title %} Prihlásenie {% endblock %}

{% block content %}
<section>
	<form method="post">
		<fieldset>
			<legend>Prihlásenie</legend>
			<p><label for="email">Emailová adresa:</label> <br> 
			<input type="text" name="email" id="email" size="20" required></p>
			<p><label for="password">Heslo:</label> <br> 
			<input type="password" name="password" id="heslo" size="20" required></p>
		</fieldset>
		<p><input type="submit" name="prihlas" id="prihlas" value="PRIHLÁSIŤ SA"></p>
	</form>
	<a href="{{ url_for('views.reset_password') }}">Zabudli ste heslo?</a>
</section>
{% endblock %}