{% extends 'base.html' %}

{% block title %} Obnova hesla {% endblock %}

{% block content %}

{% if message %}
    <p class="notification">{{ message }}</p>
{% endif %}
<section>
	<form method="post">
		<fieldset>
			<legend>Obnova hesla</legend>
			<p><label for="email">Emailová adresa:</label> <br>
			<input type="text" name="email" id="email" size="20" required></p>
		</fieldset>
		<p><input type="submit" name="obnov" id="obnov" value="OBNOVIŤ HESLO"></p>
	</form>
	<a href="{{ url_for('auth.login') }}">Späť na prihlásenie</a>
</section>
{% endblock %}