{% extends 'base.html' %}

{% block title %} Obnova hesla {% endblock %}

{% block content %}

{% if message %}
    <p class="notification">{{ message }}</p>
{% endif %}
<section class="container">
	<form method="post" class="d-flex flex-column align-items-center justify-content-center">
		<fieldset class="mb-3">
			<legend class="h2 mb-0 text-center">Obnova hesla</legend>
			<p><label class="mb-1" for="email">Emailová adresa:</label> <br>
			<input class="form-control" type="text" name="email" id="email" size="20" required style="height: 30px;"></p>
		</fieldset>
		<p><input class="btn btn-primary btn-block mb-3" type="submit" name="obnov" id="obnov" value="OBNOVIŤ HESLO"></p>
	</form>
	<a href="{{ url_for('auth.login') }}">Späť na prihlásenie</a>
</section>
{% endblock %}