{% extends 'base.html' %}

{% block title %} CEVA logistics {% endblock %}

{% block content %}
<section>
	<h2>Detaily objednávky</h2>
	<p>Číslo objednávky: </p>
	<p>Externá referencia klienta: </p>
	<p>Dodávateľ: </p>
	<p>Kontakt: </p>
	<p>ŠPZ vozidla: </p>
	<p>Objednávateľ: </p>
	<p>Nakládka: </p>
	<p>Vykládka: </p>
</section>

<section id="main_section">
	<h2>Potvrdenie stavu</h2>
	
	<section>
		<form method="post">
			<fieldset>
				<legend>Vozidlo príde/prišlo načas</legend>
				<p>Potvrdzujem dátum a čas príchodu na nakládku<br>
				<input type="checkbox" name="loaded" id="loaded" value="loaded"><label for="loaded">Naložené</label>
				<input type="submit" name="confirm_loading" id="confirm_loading" value="POTVRDIŤ NAKLÁDKU"></p>
				<hr>
				<p>Potvrdzujem dátum a čas príchodu na vykládku<br>
				<input type="checkbox" name="unloaded" id="unloaded" value="unloaded"><label for="unloaded">Vyložené</label>
				<input type="submit" name="confirm_unloading" id="confirm_unloading" value="POTVRDIŤ VYKLÁDKU"></p>
				
			</fieldset>
			
		</form>
	</section>
	
	<section>
		<form method="post">
			<fieldset>
				<legend>Vozidlo bude meškať</legend>
				<p><label for="cause_delay">Príčina meškania:</label>
				<select name="cause_delay" id="cause_delay" required onchange="handleSelectChange()"></p>
					<option value=''>Vyberte príčinu meškania</option>
					<option value="weather">Nepriaznivé počasie</option>
					<option value="broken_truck">Pokazený kamión</option>
					<option value="accident">Dopravná nehoda</option>
					<option value="delay_loading">Zdržanie na predchádzajúcej nákladke</option>
					<option value="delay_unloading">Zdržanie na predchádzajúcej výkladke</option>
					<option value="driver_performance">Výkon vodiča</option>
					<option value="traffic_situation">Dopravná situácia</option>
					<option value="other">Iný dôvod</option>
				</select>
				
				<p><label for="date">Vyberte predpokladaný dátum a čas príchodu:</label>
				<input type="date" name="date" id="date" size="20" required onchange="handleDateTimeChange()">
				<input type="time" name="time" id="time" size="20" required onchange="handleDateTimeChange()"></p>
				
				<p><label for="message">Komentár:</label>
				<textarea name="message" id="message" rows="4" cols="20" required></textarea></p>
				
			</fieldset>
			<p><input type="submit" name="late_loading" id="late_loading" value="MEŠKÁ NA NAKLÁDKU">
			<input type="submit" name="late_unloading" id="late_unloading" value="MEŠKÁ NA VYKLÁDKU"></p>
		</form>
	</section>

</section>

<script>
var today = new Date();
var time = today.getHours() + ":" + today.getMinutes();
var dd = today.getDate();
var mm = today.getMonth() + 1; 
var yyyy = today.getFullYear();

if (dd < 10) {
   dd = '0' + dd;
}

if (mm < 10) {
   mm = '0' + mm;
} 
	
today = yyyy + '-' + mm + '-' + dd;
document.getElementById("date").value = today;
document.getElementById("date").min = today;
document.getElementById("time").value = time;

function handleDateTimeChange() {
    var inputDate = document.getElementById("date").value;
    var inputTime = document.getElementById("time").value;

    var selectedDateTime = new Date(inputDate + " " + inputTime);
    var currentDateTime = new Date();

    if (selectedDateTime < currentDateTime) {
        alert("Nemožno zvoliť dátum a čas z minulosti. Zvoľte prosím budúci dátum a čas.");
		
        var currentTime = currentDateTime.getHours() + ":" + currentDateTime.getMinutes();
        document.getElementById("time").value = currentTime;
    }
}

function handleSelectChange() {
    var selectElement = document.getElementById("cause_delay");
	var textField = document.getElementById("message");

	if (selectElement.value === "other") {
		textField.setAttribute("required", "true");
	} else {
		textField.removeAttribute("required");
	}
}

</script>

{% endblock %}